<a href="https://colab.research.google.com/github/NeeleshYadav7581/Diabetes-Diagnosis/blob/main/Diabetes_diagnosis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading data set and libraries

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
Ny = pd.read_csv("/content/drive/MyDrive/Dataset/data-society-pima-indians-diabetes-database/data/diabetes.csv")

In [ ]:
Ny

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,False
764,2,122,70,27,0,36.8,0.340,27,False
765,5,121,72,23,112,26.2,0.245,30,False
766,1,126,60,0,0,30.1,0.349,47,True
767,1,93,70,31,0,30.4,0.315,23,False

In [ ]:
print(Ny.size) # total numnber of elements present in the data set
print(Ny.shape) # no.rows x no. columns
print(Ny.ndim)  # data frame has 2 dimensions
print(Ny.dtypes) # To know data type of each feature

6912
(768, 9)
2
pregnancies                   int64
glucose                       int64
bloodpressure                 int64
skinthickness                 int64
insulin                       int64
bmi                         float64
diabetespedigreefunction    float64
age                           int64
outcome                        bool
dtype: object

# Drop the pregnancies column

In [ ]:
n=Ny.drop('pregnancies',1)
n2=Ny['pregnancies']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

# Replace 0 to nan

In [ ]:
n=n.replace(0,np.nan)

In [ ]:
n.isnull().sum()  # total number of missing values feature wise

glucose                       5
bloodpressure                35
skinthickness               227
insulin                     374
bmi                          11
diabetespedigreefunction      0
age                           0
outcome                       0
dtype: int64

# Fill the mean value in nan place by the help of For loop

In [ ]:
for i in n.columns:
  n[i]=n[i].fillna(n[i].mean())
print(n)

     glucose  bloodpressure  skinthickness     insulin   bmi  \
0      148.0           72.0       35.00000  155.548223  33.6
1       85.0           66.0       29.00000  155.548223  26.6
2      183.0           64.0       29.15342  155.548223  23.3
3       89.0           66.0       23.00000   94.000000  28.1
4      137.0           40.0       35.00000  168.000000  43.1
..       ...            ...            ...         ...   ...
763    101.0           76.0       48.00000  180.000000  32.9
764    122.0           70.0       27.00000  155.548223  36.8
765    121.0           72.0       23.00000  112.000000  26.2
766    126.0           60.0       29.15342  155.548223  30.1
767     93.0           70.0       31.00000  155.548223  30.4

     diabetespedigreefunction  age  outcome
0                       0.627   50     True
1                       0.351   31    False
2                       0.672   32     True
3                       0.167   21    False
4                       2.288   33     True
..                        ...  ...      ...
763                     0.171   63    False
764                     0.340   27    False
765                     0.245   30    False
766                     0.349   47     True
767                     0.315   23    False

[768 rows x 8 columns]

In [ ]:
n.isnull().sum()

glucose                     0
bloodpressure               0
skinthickness               0
insulin                     0
bmi                         0
diabetespedigreefunction    0
age                         0
outcome                     0
dtype: int64

In [ ]:
 n.describe()

,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885
std,30.435949,12.096346,8.790942,85.021108,6.875151,0.331329,11.760232
min,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000
25%,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000
50%,117.000000,72.202592,29.153420,155.548223,32.400000,0.372500,29.000000
75%,140.250000,80.000000,32.000000,155.548223,36.600000,0.626250,41.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

# Train & Test the data

In [ ]:
x = m.drop(['outcome'], axis=1)
y = m['outcome']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, shuffle=False, train_size = 0.8)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(614, 7) (154, 7) (614,) (154,)

In [ ]:
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix

# Logistic Regression

In [ ]:
#LogisticRegression
from sklearn.linear_model import LogisticRegression as lr
lr_classifier = lr(C=0.01)
lr_classifier.fit(x_train,y_train)
y_pred_lr = lr_classifier.predict(x_test)
accuracy_score(y_test, y_pred_lr)*100

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

77.92207792207793

# Randon forest classifier

In [ ]:
# random forest classifier
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators = 20,  criterion = 'entropy',random_state = 51)
rf_classifier.fit(x_train, y_train)
y_pred_rf = rf_classifier.predict(x_test)
accuracy_score(y_test, y_pred_rf)*100

72.72727272727273

# Decision tree classifier

In [ ]:
# Decision tree classifier
from sklearn.tree import DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier(criterion='entropy',random_state=51)
dt_classifier.fit(x_train,y_train)
y_pred_dt = dt_classifier.predict(x_test)
accuracy_score(y_test,y_pred_dt)*100

68.83116883116884

# Naive bayes classifier

In [ ]:
# naive bayes classifier
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()
nb_classifier.fit(x_train,y_train)
y_pred_nb = nb_classifier.predict(x_test)
accuracy_score(y_test,y_pred_nb)*100

72.72727272727273

# XGBoost Classifier

In [ ]:
# XGBoost Classifier
from xgboost import XGBClassifier
xgb_classifier = XGBClassifier()
xgb_classifier.fit(x_train, y_train)
y_pred_xgb = xgb_classifier.predict(x_test)
accuracy_score(y_test, y_pred_xgb)*100

75.32467532467533